body {
    font-family: "Courier New";
    margin: 0;
    background: #333 url('../img/bg.png');
    overflow: hidden;
}

/* MainView */
h1 {
    text-align: center;
    color: #DDD;
}

/* LoginView */
div.loginBox {
    width: 250px;
    height: 145px;
    padding: 5px;
    margin: auto auto;
    border: 1px solid #444;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #666;
    background-color: rgba(255, 255, 255, 0.2);
    /*opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    text-align: center;
}
div.glowBlue {
    -webkit-box-shadow: 0px 0px 1000px 5px rgba(82, 168, 236, .75);
    -moz-box-shadow: 0px 0px 1000px 5px rgba(82, 168, 236, .75);
    box-shadow: 0px 0px 1000px 5px rgba(82, 168, 236, .75);
}
/* This is used as a hack to get the loginBox div to refresh its glow, as a
   background shows up around the numPlayersOnline div when its text is updated */
div.glowBlue-alt {
    -webkit-box-shadow: 0px 0px 1000px 5px rgba(81, 168, 236, .75);
    -moz-box-shadow: 0px 0px 1000px 5px rgba(81, 168, 236, .75);
    box-shadow: 0px 0px 1000px 5px rgba(81, 168, 236, .75);
}
div.glowRed {
    -webkit-box-shadow: 0px 0px 1000px 5px rgba(240, 100, 80, .75);
    -moz-box-shadow: 0px 0px 1000px 5px rgba(240, 100, 80, .75);
    box-shadow: 0px 0px 1000px 5px rgba(240, 100, 80, .75);
    /* Transition from blue glow to red glow */
    -webkit-transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
       -moz-transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
         -o-transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
            transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
}
div.glowGreen {
    -webkit-box-shadow: 0px 0px 1000px 5px rgba(95, 238, 80, .75);
    -moz-box-shadow: 0px 0px 1000px 5px rgba(95, 238, 80, .75);
    box-shadow: 0px 0px 1000px 5px rgba(95, 238, 80, .75);
    /* Transition from blue glow to red glow */
    -webkit-transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
       -moz-transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
         -o-transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
            transition: -webkit-box-shadow linear 0.5s,
                        -moz-box-shadow linear 0.5s,
                        box-shadow linear 0.5s;
}
div.loginBox h3 {
    font-size: 13pt;
}
div.loginBox input[name="name"] {
    text-transform: uppercase;
    text-align: center;
    height: 25px;
    font-family: "Courier New";
    font-weight: bold;
    font-size: 14pt;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
div.loginBox input[name="name"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
div.loginBox input[name="name"].red:focus {
    border-color: rgba(185, 74, 72, 0.8);
    outline: 0;
    outline: thin dotted 9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
}
div.loginBox input[name="name"].green:focus {
    border-color: rgba(95, 238, 80, 0.8);
    outline: 0;
    outline: thin dotted 9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 238, 80, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 238, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 238, 80, 0.6);
}
div.loginBox button {
    background-color: #CCC;
    padding: 5px 12px;
    font-family: "Courier New";
    font-size: 14pt;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #CCC;
}
div.loginBox button:hover {
    color: #111;
    background-color: #AAA;
    border: 1px solid #AAA;
    -webkit-transition: background-color 0.15s linear, border 0.15s linear;
    -moz-transition: background-color 0.15s linear, border 0.15s linear;
    -o-transition: background-color 0.15s linear, border 0.15s linear;
    transition: background-color 0.15s linear, border 0.15s linear;
    cursor: pointer;
}
div.numPlayersOnline p {
    margin-top: 30px;
    background: none;
    text-align: center;
    color: #DDD;
    font-weight: bold;
    font-size: 13pt;
    -webkit-text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
    -moz-text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
    text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
}

/* HomeView */
div.homeView {
    margin-right: 220px;
}
span.welcomeMessage {
    position: fixed;
    top: 0;
    right: 220px;
    padding: 10px;
    color: #DDD;
    font-weight: bold;
    font-size: 13pt;
    -webkit-text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
    -moz-text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
    text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
}
div.buttonsContainer {
    text-align: center;
}
div.buttonContainer {
    display: inline-block;
}
div.buttonContainer span {
    color: #DDD;
    font-weight: bold;
    font-size: 13pt;
    -webkit-text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
    -moz-text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
    text-shadow: 0px 0px 15px rgba(220, 220, 220, .75);
}
img.imgButton {
    margin: 40px 40px 0 40px;
    cursor: pointer;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
img.imgButton:hover {
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* SidebarView */
div.sidebarView {
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #444;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #666;
    background-color: rgba(255, 255, 255, 0.2);
}

/* ChatView */
div.chatView {
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 0;
    right: 220px;
    border: 1px solid #444;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #666;
    background-color: rgba(255, 255, 255, 0.2);
}