<h2>Online Multiplayer</h2>
<div style="width: 500px; margin: 0 auto;">
	<table id="setupMenu">
		<tbody>
			<!--<tr>
				<td><label>Number of Players: </label></td>
				<td>
					<select>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
					</select> (max. 16)
				</td>
			</tr>-->
			<tr>
				<td><label>Difficulty: </label></td>
				<td id="difficulty">
					<% if (isHost) { %>
					<select>
						<option>Easy</option>
						<option>Medium</option>
						<option>Hard</option>
					</select>
					<% } else { %>
						<span><%= difficulty %></span>
					<% } %>
					<a id="what-is-difficulty">What's this?</a>
				</td>
			</tr>
			<tr>
				<td><div id="numPlayersInGame">1/16</div>
					<div id="playersInGameList"></div>
				</td>
				<td>
					<p>Select your colour:</p>
					<table id="colorSelection">
						<tbody>
							<tr>
								<td><span class="red"></span></td>
								<td><span class="blue"></span></td>
								<td><span class="purple"></span></td>
								<td><span class="pink"></span></td>
								<td><span class="orange"></span></td>
								<td><span class="green"></span></td>
								<td><span class="cyan"></span></td>
								<td><span class="brown"></span></td>
							</tr>
							<tr>
								<td><span class="yellow"></span></td>
								<td><span class="lime"></span></td>
								<td><span class="white"></span></td>
								<td><span class="grey"></span></td>
								<td><span class="navy"></span></td>
								<td><span class="gold"></span></td>
								<td><span class="lightgreen"></span></td>
								<td><span class="lightbrown"></span></td>
							</tr>
						</tbod>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<% if (isHost) { %>
		<p>
		Invite other players who are online from the list on the right hand side of the screen.
		</p>
	<% } %>
	<p>
	<% if (isHost) { %>
		<button name="createGame" type="button">Start</button>
	<% } else { %>
		<span style="float: right;">Waiting for host to start...</span>
	<% } %>
	</p>
</div>